body{
	background-color:  #F5F0DC;
	font-family:  Helvetica, Arial, sans-serif;
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}

#titulo{
	text-align:center;
}

h2{
	background:-moz-linear-gradient(top, #9C8F67, #C7BE9B 30%);
	background:-webkit-linear-gradient(top, #9C8F67, #C7BE9B 30%);
	background:-o-linear-gradient(top, #9C8F67, #C7BE9B 30%);
	border-radius: 15px;
	border: 1px solid black;
	padding: 5px;
	color: #FFFFFF;
}

#tb-nutrientes{
	border: 1px solid black;
    width: 40%;
    margin: auto;
}

#tb-nutrientes th{
	background-color: #F8EA6B;	
}

#tb-nutrientes tr:nth-child(odd){
	background-color: #FFFFFF;
}

#tb-nutrientes tr:nth-child(even){
	background-color: #F8EAB3;
}

nav{
	float: left;
	width: 200px;	
}

nav ul {
	list-style: none;
	padding-left:0;
}

nav ul li{
	background-color: #C7BE9B;
	padding:3px;
	margin-bottom: 5px;
}

nav ul li a {
	color: black;
	text-decoration: none;
}

nav ul li a:hover {
	color: #9C8F67;
}

#conteudo{
	float: right;
	width: 740px;
}

#banner{
	top: 0;
	right: 0;
	position: fixed;
}

/*
nav li {
	display: inline;
	margin-right: 50px;
}
*/
figure{
	background-color: white;
	width: 400px;
	text-align: center;
	padding: 15px;
	font-family: Comic Sans MS, cursive;
	border: solid black 1px;
	box-shadow: 5px 5px 3px rgba(0,0,0,0.75);
	/*margin: auto;*/
}

figure :hover{
	transform:rotate(-5deg);
}